{% include 'page-templates/views/partials/banner.twig' %}

<main class="event-single">
	<div class="row">
		<div class="small-12 medium-8 columns">
			{{ post.content }}
		</div>
	</div>

	{% include 'page-templates/views/partials/contentblocks.twig' %}
	
</main>