
  {# {% do action('woocommerce_before_main_content') %} #}

  <section class="content-editor woocommerce-section">
    <div class="row columns">
      <div class="before-shop-loop">
        {# {% do action('woocommerce_before_shop_loop') %} #}
      </div>

      <div class="loop">
        {% for post in products %}
          {% include ["woo/tease-product.twig"] %}
        {% endfor %}
      </div>

      {% do action('woocommerce_after_shop_loop') %}
      {% do action('woocommerce_after_main_content') %}
    </div>
  </section>


