<section class="contentblock call-to-action">	
	<h2>{{ contentblock.cta_headline }}</h2>
	<p>{{ contentblock.cta_body }}</p>
	<a class="button" href="{{ contentblock.cta_button_link }}">{{ contentblock.cta_button_text }}</a>
</section>